.stripe-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  max-width: 25rem;
  height: 10rem;
  margin: 1rem auto;
  border: 0.01rem solid #22ddd3;
  padding: 0 0.5rem;
}
