.stripe-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  max-width: 25rem;
  margin: 2rem auto 2rem;
  border: 0.01rem solid #22ddd3;
  padding: 1rem 0.5rem;

  &.dark {
    background-color: #22ddd3;
  }
  p {
    margin: 1rem auto;
    color: grey;
    font-weight: bold;
  }
}
